<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="margin: 0px; padding: 0px; font-family: 'DM Sans', sans-serif">
    <table
      class="main-table"
      style="
        margin: 0 auto;
        background-color: #fff;
        border-radius: 2px;
        border-spacing: 0px;
      "
    >
      <tbody>
        <tr>
          <td>
            <h5
              style="
                font-size: 16px;
                line-height: 24px;
                color: #000000;
                font-weight: 400;
                text-align: center;
                margin-bottom: 0px;
              "
            >
              Hi <b> <%= name %>, </b>
            </h5>
          </td>
        </tr>
        <tr>
          <td>
            <a
              target="_blank"
              style="
                font-size: 32px;
                line-height: 35px;
                color: #814198;
                font-weight: 700;
                text-align: center;
                margin: 0px;
              "
              href=<%= link %>
            >
              Please click here to verify your account.
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
